@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    --desaturated-red: hsl(0, 36%, 70%);
    --soft-red: hsl(0, 93%, 68%);
    --dark-grayish-red: hsl(0, 6%, 24%);
    --light-gradiant: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    --redish-gradiant: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    --font: 'Josefin Sans', sans-serif;
    font-family: var(--font);
}

.hero {
    width: 100vw;
    min-height: 600px;
    display: grid;
    background: var(--light-gradiant);
    grid-template-columns: 1fr;
    grid-template-rows: 5rem auto auto;
    grid-template-areas: "header""hero-img""t-container";
}

.header {
    grid-area: header;
    display: flex;
    align-items: center;
    padding-left: 2rem;
    img {
        width: 6.25rem;
    }
}

.text-container {
    grid-area: t-container;
    padding: 3rem 2rem;
    margin: 0 auto;
    text-align: center;
    h2 {
        font-size: 2.5rem;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: .7rem;
        line-height: 2.7rem;
        color: var(--dark-grayish-red);
        span {
            font-weight: 300;
            color: var(--desaturated-red);
        }
    }
    p {
        font-size: .9rem;
        line-height: 1.3rem;
        font-weight: 400;
        color: var(--desaturated-red);
        margin-top: 1rem;
        width: 100%;
        max-width: 400px;
    }
    form {
        max-width: 400px;
        margin-top: 2rem;
        fieldset {
            border: none;
        }
        .email-container {
            position: relative;
            width: 100%;
        }
        input[type="email"] {
            width: 100%;
            border-radius: 50px;
            padding: 1rem;
            padding-left: 1.5rem;
            padding-right: 6rem;
            background: transparent;
            border: 1px solid var(--desaturated-red);
            &::placeholder {
                color: var(--desaturated-red);
                font-family: var(--font);
            }
            outline:none;
            &:focus {
                outline: 2px solid var(--desaturated-red);
                outline-offset: .2rem;
            }
        }
        .error-icon {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 5.5rem;
            display: none;
        }
        button {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            width: 5rem;
            border-radius: 50px;
            border: none;
            cursor: pointer;
            z-index: 3;
            &::before,
            &::after {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                border-radius: 50px;
                z-index: -1;
                opacity: 0;
                transition: opacity .3s ease;
                box-shadow: .1rem .2rem .5rem .3rem hsla(0, 42%, 78%, 0.3);
            }
            &::before {
                opacity: 1;
                background: var(--redish-gradiant);
                box-shadow: 0 .2rem .5rem .1rem hsla(0, 36%, 70%, 0.24);
            }
            &::after {
                background: linear-gradient(135deg, hsl(0, 100%, 91%), hsl(0, 100%, 93%));
            }
            &:hover::before,
            &:focus::before {
                opacity: 0;
            }
            &:hover::after,
            &:focus::after {
                opacity: 1;
            }
        }
        .error-msg {
            font-size: 14px;
            display: block;
            margin-top: .5rem;
            padding-left: 1.5rem;
            color: var(--soft-red);
            display: none;
        }
    }
}

.email.error .error-icon,
.email.error .error-msg {
    display: block;
}

.email.error input[type="email"] {
    border: 2px solid var(--soft-red);
    padding-right: 7.5rem;
}

picture {
    margin: 0 auto;
    width: 100%;
    img {
        width: 100%;
        height: 100%;
        display: block;
        max-height: 300px;
        object-fit: cover;
        object-position: top center;
    }
}

.hero-img {
    grid-area: hero-img;
}

footer {
    width: 100vw;
    height: 3rem;
    background: var(--light-gradiant);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    span {
        line-height: 1.5rem;
    }
    a {
        color: var(--desaturated-red);
        padding-right: .25rem;
    }
}

@media screen and (min-width:700px) {
    .hero {
        height: 100vh;
        max-height: 700px;
        background: var(--light-gradiant);
        background: url('/images/bg-pattern-desktop.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        grid-template-columns: 60% 40%;
        grid-template-rows: 7rem 1fr;
        grid-template-areas: "header hero-img" "t-container hero-img";
        .header {
            align-items: flex-end;
            justify-content: center;
            padding-left: 0;
            .logo-container {
                max-width: 400px;
                width: 100vw;
            }
            img {
                width: 9rem;
            }
        }
        .text-container {
            text-align: initial;
            padding-top: 7rem;
            h2 {
                font-size: 3rem;
                line-height: 3.2rem;
            }
        }
        picture {
            margin: 0;
            background: red;
            img {
                width: 100%;
                height: 100%;
                max-height: 100%;
                object-fit: cover;
                object-position: top center;
            }
        }
    }
    footer {
        flex-direction: row;
    }
}